<div class="container pt-5" id="form">
    <div class="row">
        <div class="col-md-6">
        <form [formGroup="quoteForm" (ngSubmit="onSubmit()")]>
            <p class="fr mt-3">ADD QUOTE IN THIS FORM</p>
            <div>
                <label for="author">Author:</label><br>
                <input type="text" name="author" id="author" placeholder="Enter the author" >
                
             </div><br>
             <div>
                 <label for="text">Enter quote here:</label><br>
                 <textarea name="quote" id="quote" cols="55" rows="3" placeholder="Enter quote here..." ></textarea>
             </div><br>
             <div>
                 <label for="creator">Created By:</label><br>
                 <input type="text" name="creator" id="creator" placeholder="Enter name here" required >
             </div><br>

            <button class="BTN" type="submit">SUBMIT</button>
        </form>
    </div>
    <div class="col-md-6">
        <app-quotes></app-quotes>
    </div>
</div>

</div>


