<!-- <app-quote-form (add)="quoteAdded($event)"></app-quote-form> -->


<div class="quotes" *ngFor="let quotes of myQuotes; let i = index">
    <p>{{quotes.name}}</p>
    <p>{{quotes.quote}}</p>
    <p>{{quotes.author}}</p>
    <p>{{quotes.datePosted|date:'short'}}</p>
    <!-- <app-quote-details  (isRead)='quotesdelete($event,i)'></app-quote-details> -->
</div>


<!-- <ul *ngFor ="let Quotes of quote ">
    <li>{{ Quotes.quote}} <span class="iconify ml-4 bg-info" data-icon="bi:arrow-up-square">{{ Quotes.upvotes}}</span> UPVOTES <span class="iconify bg-danger" data-icon="bi:arrow-down-square">{{ Quotes.downvotes}}</span>DOWNVOTES</li>

</ul> -->



