/* You can add global styles to this file, and also import other style files */
.sec{
    background-image: url("src/assets/alex-azabache-V83v-MYB_Z8-unsplash.jpg");
    background-position: center;
    background-size: cover;
    height: 500px;
}
