/* You can add global styles to this file, and also import other style files */
.sec{
    background-image: url("src/assets/jerry-zhang-SJGiS1JzUCc-unsplash.jpg");
    background-position: center;
    background-size: cover;
    height: 500px;
}
